<% @spots.each do |spot| %>
  <% if (Date.parse(spot.start_date) <= Date.today) && (Date.parse(spot.end_date) >= Date.today) %>
  <div class="listing">
    <p>
      <%= spot.street  %>,
      <%= spot.zip_code %>
      <%= link_to "Choose a Date", spot_path(spot)%>
    </p>
  </div>
  <% end %>
<% end %>