<h1>San Francisco</h1>
<div class="map_and_listings_container">
  <div id="map-canvas"></div>

  <div class="listings-container">
    <h3 id="neighborhood">Available Spots:</h3>
    <div class="listings">
      <%= render "listings" %>
    </div>
  </div>
</div>

<div class="hidden">
  <div class="listing">
    <div class="index"></div>
    <div class="street"></div>
    <div class="price"></div>
    <a href="#" class="spot_id">Reserve Spot</a>
  </div>
</div>

