<div class="map_and_listings_container">
  <div id="map-canvas"></div>

  <div class="listings-container">
    <h3 id="neighborhood">Available Spots:</h3>
    <div class="listings">
      <%= render "listings" %>
    </div>
  </div>
</div>

<div class="hidden">
  <ul class="listing list-group">
    <span class="index badge"></span>
    <span class="street"></span>
    </br>
    <span><a href="#" class="spot_id">Reserve Spot</a></span>
    <span class="price"></span>
  </ul>
</div>

