<div id="map-canvas"></div>
<%= form_tag(spots_search_path, :remote => true, :id => "search") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

