<div class="container">
  <div class="map-and-listings row">
    <div class="map-container col-md-8">
      <div id="map-canvas"></div>
    </div>

    <div class="listings-container col-md-3 col-md-offset-1">
      <h3 id="neighborhood">Available Spots:</h3>
      <div class="listings">
      </div>
    </div>
  </div>

  <div class="hidden">
    <ul class="listing list-group">
      <span class="index badge"></span>
      <span class="street"></span>
      </br>
      <span><a href="#" class="spot_id">Reserve Spot</a></span>
      <span class="price"></span>
    </ul>
  </div>
</div>
