/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require datePicker
 *= require listSpot
 *= require profile
 *= require jquery-ui-1.10.3
 *= require_self
 */


 /* TODO-JEFFREY: Why hast thou forsaken me? application.css is a Sprockets file that should just contain the require statements above */



/*#logo {
  margin-top: -.1.3 em;
}

#searchform {
  line-height: 3.7em;
}
*/

.nav-inner-container{
  max-width: 1048px;
  margin: 0 auto;
}

.nav-link {
  line-height: 2em !important;
}
.navbar-left {
  line-height: 3em;
}

.navbar-right {
  line-height: 4em;
}
.navbar-brand {
  line-height: 10em;
  height: 4em;
}

.navbar button {
  margin-right: 1px;
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}

p, h4 {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

.navbar-simple .brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
  background: #fff;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
  float: right;
}
.navbar-simple .navbar-inner .nav li a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #777;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #bf3604;
}
.navbar-simple .navbar-inner .nav li.active a {
  color: #bf3604;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.map-and-listings {
  margin-top: 2em;
}

.map-container {
  height: 200px;
}

#map-canvas {
  height: 100%;
}

h3#neighborhood {
  margin-top: 0em;
}

.spot_id {
  padding-left: 2em;
}

.listings-container {
  margin-top: 2em;
}

.listings {
  overflow:auto;
}

.selected {
  background:blue;
}

.hidden {
  display:none;
}

@media screen and (min-width: 320px) {
  .map-container {
    height: 160px;
  }
}

@media screen and (min-width: 481px) {
  .map-container {
    height: 480px;
  }
}