/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 /* TODO-JEFFREY: Why hast thou forsaken me? application.css is a Sprockets file that should just contain the require statements above */



/*#logo {
  margin-top: -.1.3 em;
}

#searchform {
  line-height: 3.7em;
}
*/

.nav-inner-container{
  max-width: 1048px;
  margin: 0 auto;
}

.nav-link {
  line-height: 2em !important;
}
.navbar-left {
  line-height: 3em;
}

.navbar-right {
  line-height: 4em;
}
.navbar-brand {
  line-height: 10em;
  height: 4em;
}


h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}

p {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

.navbar-simple .brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
  background: #fff;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
  float: right;
}
.navbar-simple .navbar-inner .nav li a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #777;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #bf3604;
}
.navbar-simple .navbar-inner .nav li.active a {
  color: #bf3604;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}


.map_and_listings_container {
  margin: 0 auto;
  position: relative;
  width: 1048px;
  min-width: 20em;
  height:600px;
  margin-top: 2em;
}

#map-canvas {
  height: 100%;
  width: 100%;
  float: left;
}

h3#neighborhood {
  margin-top: 0em;
}

.spot_id {
  padding-left: 2em;
}

.listings-container {
  float: left;
  width: 35%;
  min-width: 20em;
  max-width: 300px;
  margin-left: 5%;
  height:600px;
  background: lightyellow;
}
.map_container{
  width: 50%;
  height: 100%;
  float: left;
  min-width: 20em;
}

.listings {
  overflow:auto;
  height:95%;
}

.hidden {
  display:none;
}

.navbar button {
  margin-right: 1px;
}

@media (max-width: 1047px){

  .map_and_listings_container {
    background: blue;
    width: 100%;
  }
  #map-canvas {
    max-height: 100%;
    max-width: 100%;
    position:absolute;
  }
  .listings-container {
    width: 100%;
    min-width: 20em;
    margin-left: 0%;
    height:100%
  }

}