<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><%=image_tag("eyePark.png", alt: "Example Image", id: "logo") %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="autocomplete" type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a data-toggle="modal" href="#newSpot" class="btn btn-primary btn-md">List Spot</a>
      </li>
      <li>
        <a data-toggle="modal" href="#profile" class="btn btn-primary btn-md">Profile</a>
      </li>
      <li>
        <a data-toggle="modal" href="#signout" class="btn btn-primary btn-md">Sign Out</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
